#page-structure{
    height: 100vh;
  }
  
.header-text h1 , .header-text h2 {
  font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 900 !important;
  text-shadow: 1px 1px 20px #333;
}

.back-block-green-bottom-right::before , .back-block-green-bottom-right:after {
  display: none;
}

img#image {
  filter: grayscale(1);
}
  

@media (max-width: 768px) {

  #image {
    height: 100vh;
    object-fit: cover;
  }
}

h3#count {
  font-family: "Cormorant Upright", serif;
  font-size: 12rem;
  font-weight: bold;
  font-style: italic;
  -webkit-text-stroke: 1px #e0e0e0;
  letter-spacing: 2rem;
  color: transparent;
  will-change: transform, color;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 35%;
  right: 0%;
  transform: rotateZ(-90deg);
  z-index: 2;
}

@media (max-width: 768px) {
  h3#count {
    transform: rotate(-40deg);
  }
}

#fly-text {
  color: #fff;
  text-align: center;
  width: 100vw;
  font-weight: 700;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  margin-top: -3rem;
  position: relative;
}


#fly-in {
  font-size: 4em;
  margin: 40vh auto;
  height: 20vh; 
  position: relative;
}

#fly-in span {
  display: block;
  font-size: .4em;
  opacity: .8;
}

#fly-in div {
 position: absolute;
  margin: 2vh 0;
  opacity: 0;
  left: 10vw;
  width: 80vw;
  animation: switch 32s linear infinite;
}

#fly-in div:nth-child(2) { animation-delay: 4s}
#fly-in div:nth-child(3) { animation-delay: 8s}
#fly-in div:nth-child(4) { animation-delay: 12s}
#fly-in div:nth-child(5) { animation-delay: 16s}
#fly-in div:nth-child(6) { animation-delay: 20s}
#fly-in div:nth-child(7) { animation-delay: 24s}
#fly-in div:nth-child(8) { animation-delay: 28s}

@keyframes switch {
    0% { opacity: 0;filter: blur(20px); transform:scale(12)}
    3% { opacity: 1;filter: blur(0); transform:scale(1)}
    10% { opacity: 1;filter: blur(0); transform:scale(.9)}
    13% { opacity: 0;filter: blur(10px); transform:scale(.1)}
    80% { opacity: 0}
    100% { opacity: 0}
}

@media (max-width: 768px) {
  #fly-in {
    font-size: 3em;
    margin: 40vh auto;
    height: 25vh;
    position: relative;
  }
}

article {
  background-image: url(img/background.jpg);
  background-size: cover;
  background-color: rgba(0,0,0,.5);
  background-blend-mode: darken;
  background-attachment: fixed;
  position: relative;
}

section#container {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contents {
  max-width: 600px;
  overflow: hidden;
}

.video-wrap {
  position: absolute;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.snip {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  margin: 10px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #000000;
  font-size: 16px;
}

.snip * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.snip img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}

.snip figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}

.snip figcaption:before,
.snip figcaption:after {
  width: 1px;
  height: 0;
}

.snip figcaption:before {
  right: 0;
  top: 0;
}

.snip figcaption:after {
  left: 0;
  bottom: 0;
}

.snip h3, .snip h4 ,
.snip p {
  line-height: 1.5em;
  text-transform: unset;
}

.snip h3 {
  margin: 0 0 5px;
  font-weight: 700;
}

.snip h4 {
  color: #000;
  background-color: rgba(255,255,255,.5);
  font-size: 0.8em;
  display: inline-block;
  line-height: 0.9;
  font-weight: bold;
  padding: 1em 1.2em 0.9em 1.45em;
  margin-bottom: 2em;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  bottom: 0;
  right: 5%;
}

.snip p {
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}

.snip a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.snip:before,
.snip:after,
.snip figcaption:before,
.snip figcaption:after {
  position: absolute;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}

.snip:before,
.snip:after {
  height: 1px;
  width: 0%;
}

.snip:before {
  top: 0;
  left: 0;
}

.snip:after {
  bottom: 0;
  right: 0;
}

.snip:hover img,
.snip.hover img {
  opacity: 0.8;
}

.snip:hover figcaption,
.snip.hover figcaption {
  opacity: 1;
}

.snip:hover figcaption:before,
.snip.hover figcaption:before,
.snip:hover figcaption:after,
.snip.hover figcaption:after {
  height: 100%;
}

.snip:hover:before,
.snip.hover:before,
.snip:hover:after,
.snip.hover:after {
  width: 100%;
}

.snip:hover:before,
.snip.hover:before,
.snip:hover:after,
.snip.hover:after,
.snip:hover figcaption:before,
.snip.hover figcaption:before,
.snip:hover figcaption:after,
.snip.hover figcaption:after {
  opacity: 0.1;
}

@media (min-width: 769px) {
  .snip {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    width: calc(100% / 3);
    padding: 1rem;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    background-color: transparent;
  }
}
